<style type="text/css">
	.centered {
	  position: fixed;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  transform: -webkit-translate(-50%, -50%);
	  transform: -moz-translate(-50%, -50%);
	  transform: -ms-translate(-50%, -50%);
	}

	.background {
	    background-color: black;
	  width: 100%;
	  height: 100%;
	}
	html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    background-color: black;
}
</style>
<div class="centered">
		<!-- <video width="800" controls autoplay>
		  <source ng-src="{{url}}" type="video/mp4">
		</video> -->
		<video id="my-video" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto" width="1000"  data-setup='{
        "loop": "true",
        "autoplay": true, 
        "preload": "true"}'>
		    <source ng-src="{{url}}" type='video/mp4'>
		    
		  </video>
	</div>
